<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
    <h1 class="m-5">Detalles de {{producto['nombre']}}  </h1>

    <table class="table table-bordered w-50 m-5">
        <thead>
          <tr>
            <th scope="col">Atributo</th>
            <th scope="col">Descripción</th>
          </tr>
        </thead>
        <tbody>
                <tr>
                    <th scope="row">Nombre</th>
                    <td>{{producto['nombre']}}</td>
                </tr>
                <tr>
                  <th scope="row">Marca</th>
                  <td>{{producto['marca']}}</td>
              </tr>
              <tr>
                <th scope="row">Tipo</th>
                <td>{{producto['tipo']}}</td>
              </tr>
              <tr>
                <th scope="row">Código</th>
                <td>{{producto['codigo']}}</td>
              </tr>
              <tr>
                <th scope="row">Serie</th>
                <td>{{producto['serie']}}</td>
              </tr>
              <tr>
                <th scope="row">Precio</th>
                <td>{{producto['precio']}}</td>
              </tr>
              <tr>
                <th scope="row">Stock</th>
                <td>{{producto['stock']}}</td>
              </tr>
        </tbody>
      </table>

      <a href="/productos" class="m-5">Inicio</a>
</body>
</html>